html.landing .rst-content h1 {
	font-size: 3.25rem !important;
	font-weight: 780 !important;
}

.wy-menu-vertical {
	padding-top: 0 !important;
}

.landing .buttons.container .reference {
	font-size: 1.5rem;
	font-weight: 580;
}

.landing .buttons.container .reference:first-child:not(:hover) {
	color: #181818;
	background-color: #fffc52;
	border-color: #fffc52;
}

.admonition > .admonition-title {
	display: none;
}