html.landing .rst-content h1 {
	font-size: 3.25rem !important;
	font-weight: 780 !important;
}

.wy-menu-vertical {
	padding-top: 0 !important;
}

.landing .buttons.container .reference {
	font-size: 1.5rem;
	font-weight: 580;
}

.landing .buttons.container .reference:first-child {
	padding: 0 1.3rem !important;
	line-height: 2.4 !important;
	color: #ffffff;
	background-color: #181818;
	border-color: #181818;
}

.landing .buttons.container .reference:first-child:hover {
	color: #ffffff;
	background-color: #262626;
	border-color: #262626;
}

.admonition > .admonition-title {
	display: none;
}

.highlight .hll {
	background-color: #f0f0f0 !important;
}